version: 2.1
jobs:
  source:
    docker:
      - image: 'cimg/base:2021.05'
    steps:
      - checkout           
  compile:
    environment:
      STAGE_VERSION: 0.0.$CIRCLE_BUILD_NUM
    docker:  
      - image: circleci/openjdk:11.0.3-jdk-stretch # ...with this image as the primary container; this is where all `steps` will run      
    steps: # a collection of executable commands
      - checkout # check out source code to working directory
      - run: gradle -PSTAGE_VERSION=$STAGE_VERSION clean compileJava assemble
      - save_cache:
          paths:
            - web/build/libs/web-$STAGE_VERSION.war
          key: web-war-{{ .Branch }}-{{ .Environment.STAGE_VERSION }}
  package-test:
    environment:
      STAGE_VERSION: 0.0.$CIRCLE_BUILD_NUM
    docker:
      - image: 'cimg/base:2021.05'
    steps:
      - restore_cache:
          keys:
          - web-war-{{ .Branch }}-{{ .Environment.STAGE_VERSION }}
      - setup_remote_docker:
          version: 19.03.13
      - run: | 
          git clone -b test https://github.com/brentlaster/roar-min-docker
          cd roar-min-docker
          STAGE_VERSION=0.0.$CIRCLE_BUILD_NUM
          docker build -f Dockerfile_roar_db_image -t localhost:5000/roar-db:$STAGE_VERSION .
          docker build -f Dockerfile_roar_web_image --build-arg warFile=web/build/libs/web-$STAGE_VERSION-$CIRCLE_BUILD_NUM.war -t localhost:5000/roar-web:$STAGE_VERSION .
          docker push localhost:5000/roar-db:$STAGE_VERSION
          docker push localhost:5000/roar-web:$STAGE_VERSION
workflows:
  version: 2
  build-and-test:
    jobs:
      - source
      - compile:
          requires:
            - source
      - package-test:
          requires:
            - compile
     
